
   table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden
  }
  
  th, td {
    text-align: left;
  }
  th {
    padding: 15px;
  }
  td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: nowrap;
  }

  tr:hover {
    transition: 0.5s;
    background-color: #d9d9d9
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(even):hover{
    background-color: #d9d9d9;
  }

  
	.cdk-drag-preview {
		box-sizing: border-box;
		border-radius: 4px;
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
								0 8px 10px 1px rgba(0, 0, 0, 0.14),
								0 3px 14px 2px rgba(0, 0, 0, 0.12);
	}
	
	.cdk-drag-placeholder {
		opacity: 0;
	}
	
	.cdk-drag-animating {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
	tr:last-child {
		border: none;
	}
	
	table.cdk-drop-list-dragging tr:not(.cdk-drag-placeholder) {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
	


  @media 
only screen and (max-width: 760px),
(min-device-width: 100px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
    display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Name"; }
	td:nth-of-type(3):before { content: "Username"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Phone"; }
	td:nth-of-type(6):before { content: "Website"; }
	td:nth-of-type(7):before { content: "Action"; }
}