
   table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  
  th, td {
    text-align: left;
  }
  th {
    padding: 15px;
  }
  td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: nowrap;
  }

  tr:hover {
    transition: 0.5s;
    background-color: #d9d9d9
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(even):hover{
    background-color: #d9d9d9;
  }

  