<table cdkDropList (cdkDropListDropped)="drop($event)">
    <tr matSort (matSortChange)="sortData($event)">
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="username">Username</th>
        <th mat-sort-header="email">Email</th>
        <th mat-sort-header="phone">Phone</th>
        <th mat-sort-header="website">Website</th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let data of registeredData ;let i=index" cdkDrag>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.website}}</td>
        <td>
                <button mat-mini-fab aria-label="edit" color="primary" matTooltip="View information"
                matTooltipPosition="left" routerLink="/info/{{data.id}}">
                <mat-icon>remove_red_eye</mat-icon>
            </button>&nbsp;
            <button mat-mini-fab aria-label="edit" (click)="onEdit(data)" matTooltip="Edit information"
                matTooltipPosition="right">
                <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-mini-fab aria-label="edit" color="warn" (click)="onDelete(data)" matTooltip="Delete"
                matTooltipPosition="right">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </tr>

</table>