.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 2%;
  width: 60%;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 10px 15px rgba(0, 0, 0, 0.22);
}

mat-form-field {
  width: 48%
}

.btn {
  width: 40%;
  padding: 3px;
  font-size: 18px
}

.child-card {
  display: inline-table;
  width: 98%;
  text-align: center;
  height:47%
}